.form {
  width: 30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
.form input {
  align-self: stretch;
  height: 2rem;
  text-indent: 1rem;
  border-radius: 0.3rem;
  border: 1px solid grey;
}
